{% extends "main.html" %} {% set active_page = "calendar" %} {% block content %}
<style>
  iframe{
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
  }
  body{
    background-color:silver;
  }
</style>
<iframe src="https://calendar.google.com/calendar/embed?title=Bradshaw%20Enterprises&amp;showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=kyle.colquitt%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FDenver" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>



{% endblock %}