{% extends "main.html" %} {% set active_page = "administration" %} {% block content %}
<link rel="stylesheet" href="../../static/css/form.css">


<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
</style>
<script>
</script>

  <div class="modal fade" id="propertyForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="regForm" method="POST">
            {{ form.csrf_token }}

            <div class="form-group">
              <label>Address
                <small style="color:red;"> (required)</small>
              </label>
              {{form.address(class="form-control",required=required)}}
            </div>
            <div class="form-group">
              <label>City
                <small style="color:red;"> (required)</small>
              </label>
              {{form.city(class="form-control",required=required)}}
            </div>

            <div class="form-group">
              <label>State
                <small style="color:red;"> (required)</small>

              </label>
              {{form.state(class="form-control",required=required)}}
            </div>
            <div class="form-group">
              <label>Zip Code
                <small style="color:red;"> (required)</small>

              </label>
              {{form.zip(class="form-control",required=required)}}
            </div>
            <div class="form-group">
              <label>Type
                <small style="color:red;"> (required)</small>

              </label>
              {{form.p_type(class="form-control",required=required)}}
            </div>
            <div class="form-group">
              <label>Description
                <small style="color:red;"> (required)</small>

              </label>
              {{form.description(class="form-control",required=required)}}
            </div>

            {{form.submit(class="btn btn-primary btn-block")}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tables">
      <h1>Manage Properties</h1>
      
    <br>
    <table class="table" id="properties">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Description</th>
          <th>Type</th>

          <th>
            <button class="btn" data-toggle="modal" data-target="#propertyForm">Add</button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for row in prop %}
        <tr>
          <td>{{row['ID']}}</td>
          <td>{{row['Address']}}</td>
          <td>{{row['City']}}</td>
          <td>{{row['State']}}</td>
          <td>{{row['Zip']}}</td>
          <td>{{row['Description']}}</td>
          <td>{{row['Type']}}</td>

          <td>
            <a href="/administration/editProperty{{row['ID']}}">Edit</a>
          </td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <br>
 

  <script>
      $(document).ready( function () {
        $('#properties').DataTable();
    } );</script>
  {% endblock %}